.container {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    border-radius: 3px;
    border: #DCD6CC 2px slategray;
    background-color: white;
    border-color:  rgb(4, 92, 113);
    border-width: 3px;
    border-radius: 20px;
    padding: 5px;
    background-color: gray
}
  

button {
    color: white;
    background-color: rgb(4, 92, 113);
    border-radius: 20px;
}
