<body>
    <div>
    <form class="container">
        <mat-form-field class="example-full-width" style="color: white;">
          <input matInput placeholder="Email" name="email">
        </mat-form-field><br>
    
        <mat-form-field class="example-full-width" style="color: white;">
            <input matInput placeholder="Password" type="password" name="password">
          </mat-form-field><br>
    
          <button mat-stroked-button> 
            Login
        </button>
    </form>
    </div> 
</body>
