<div class="container">
    <h2>Next destinations: </h2>
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="picture">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> </th>
        <td mat-cell *matCellDef="let flight" class="cell-center" height="150px">
        
        <button mat-icon-button matTooltip="Buy tickets" disabled>
            <a> 
                <img width="100%" height="auto" class="fly" src="https://st2.depositphotos.com/1998651/8853/v/450/depositphotos_88537784-stock-illustration-plane-silhouette-stock-illustration.jpg" alt="buttonpng" border="0"/>
            </a>
        </button>
        </td>
      </ng-container>  

      <ng-container matColumnDef="departure">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Departure </th>
        <td mat-cell *matCellDef="let flight" class="cell-center" >{{ flight.departure }}</td>
      </ng-container>
  
      <ng-container matColumnDef="destination">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Destination </th>
        <td mat-cell *matCellDef="let flight" class="cell-center" >{{ flight.destination }}</td>
      </ng-container>
  
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Price </th>
        <td mat-cell *matCellDef="let flight" class="cell-center" >{{ flight.price }}</td>
      </ng-container>
      
      <ng-container matColumnDef="departureDate">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Departure date and time</th>
        <td mat-cell *matCellDef="let flight" class="cell-center" >{{ flight.departureDate | date : 'short' }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
   
  </div>
  
