<body class="background-image">
<form class="container">


  <mat-form-field class="example-full-width" style="color: white;">
    <input matInput placeholder="Departure" [formControl]="requiredDepartureControl" [(ngModel)]="flight.departure">
    <mat-error *ngIf="requiredDepartureControl.hasError('required')">
      Departure place is <strong>required</strong>
    </mat-error>
  </mat-form-field><br>

  <mat-form-field class="example-full-width" style="color: white;">
    <input matInput placeholder="Destination" [formControl]="requiredDestinationControl" [(ngModel)]="flight.destination">
    <mat-error *ngIf="requiredDestinationControl.hasError('required')">
      Destination place is <strong>required</strong>
    </mat-error>
  </mat-form-field><br>


  <mat-form-field class="example-full-width" style="color: white;">
    <input matInput placeholder="Price " [formControl]="requiredPrice" [(ngModel)]="flight.price" pattern="[0-9]+(\.[0-9]+)?" >
    <mat-error *ngIf="requiredDestinationControl.hasError('required')">
      Price <strong>required</strong>
    </mat-error>
  </mat-form-field><br>


  <mat-form-field class="example-full-width" style="color: white;">
    <input matInput placeholder="Capacity " [formControl]="requiredCapacity" [(ngModel)]="flight.capacity" pattern="[0-9]+(\.[0-9]+)?" >
    <mat-error *ngIf="requiredDestinationControl.hasError('required')">
      Capacity <strong>required</strong>
    </mat-error>
  </mat-form-field><br>

  <mat-form-field class="example-full-width" style="color: white;">

    <input matInput [matDatepicker]="picker"  [min]="tomorrowDate" placeholder="Departure date and time" [formControl]="requiredDepartureDateControl" [(ngModel)]="flight.departureDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="requiredDepartureDateControl.hasError('required')">
      Departure date is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width" style="color: white;">
    <mat-label> Departure time hours </mat-label>
    <mat-select [(ngModel)]="hour" [ngModelOptions]="{standalone: true}" >
      <mat-option *ngFor="let hour of hours" [value]="hour.value" >
        {{hour.viewValue}}
      </mat-option>
    </mat-select>

  </mat-form-field><br>

  <mat-form-field class="example-full-width" style="color: white;">
    <mat-label> Departure time minutes </mat-label>
    <mat-select [(ngModel)]="minute" [ngModelOptions]="{standalone: true}" >
      <mat-option *ngFor="let minute of minutes" [value]="minute.value" >
        {{minute.viewValue}}
      </mat-option>
    </mat-select>

  </mat-form-field><br>

  <button mat-stroked-button (click)="createFlight()">
    Submit
  </button>
</form>
</body>
